# Домашнее задание к лекции "Введение в типы данных и циклы. Часть 1"

# Задание 1

In [ ]:
# Дана переменная, в которой хранится слово из латинских букв. Напишите код, который выводит на экран

In [ ]:
# две средних буквы, если число букв четное

In [22]:
my_string = 'test' 
len (my_string)
if len (my_string) % 2 == 0:
    print (my_string [1:3])

es

In [ ]:
# среднюю букву, если число букв в слове нечетное

In [23]:
my_string = 'testing'
len (my_string)
if len (my_string) % 1 == 0:
    print ((my_string) [3])

t

#  Задание 2

In [ ]:
# Напишите программу, которая последовательно запрашивает у пользователя числа 
# (по одному за раз) и после первого нуля выводит сумму всех ранее введенных чисел.

In [ ]:
print ("Input a number for result")
sum = 0
while True:
    x = input("Input a number: ")
    if x == "0":
        break
    x = int(x)
    sum += x
print ("Sum of numbers is:", sum)
input()

Input a number for result
Input a number: 7
Input a number: 8
Input a number: 9
Input a number: 0
Sum of numbers is: 24

# Задание 3

In [ ]:
## Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек.
## Выдвигаем гипотезу: лучшие рекомендации мы получим, 
## если просто отсортируем имена по алфавиту и познакомим людей 
## с одинаковыми индексами после сортировки!

In [6]:
boys= ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

In [7]:
sorted(boys)

['Alex', 'Arthur', 'John', 'Peter', 'Richard']

In [8]:
sorted(girls)

['Emma', 'Kate', 'Kira', 'Liza', 'Trisha']

In [9]:
boys_by_girls = zip(sorted(girls), sorted(boys))
list (boys_by_girls)

[('Emma', 'Alex'),
 ('Kate', 'Arthur'),
 ('Kira', 'John'),
 ('Liza', 'Peter'),
 ('Trisha', 'Richard')]

In [10]:
## Но мы не будем никого знакомить, если кто-то может остаться без пары:

In [11]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

In [12]:
sorted(boys)

['Alex', 'Arthur', 'John', 'Michael', 'Peter', 'Richard']

In [13]:
sorted(girls)

['Emma', 'Kate', 'Kira', 'Liza', 'Trisha']

In [14]:
boys_by_girls = zip(sorted(girls), sorted(boys))
list (boys_by_girls)

[('Emma', 'Alex'),
 ('Kate', 'Arthur'),
 ('Kira', 'John'),
 ('Liza', 'Michael'),
 ('Trisha', 'Peter')]

In [15]:
## Richard - остался без пары

# Задание 4

In [16]:
## У нас есть список, содержащий информацию о среднедневной температуре 
## в Фаренгейтах за произвольный период по странам 
## (структура данных в примере). 
## Необходимо написать код, который рассчитает среднюю температуру
## за период в Цельсиях(!) для каждой страны.

In [18]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]]
celsius_temperature = list(map(lambda x: [x[0], round((sum(x[1])/len(x[1]) - 32) * 0.56, 2)], countries_temperature))
 
print(celsius_temperature)

[['Thailand', 24.05], ['Germany', 13.91], ['Russia', 3.74], ['Poland', 12.1]]